{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>
    .form-box {
        padding: 8px; /* makes it look neat */
        border-radius: 4px; /* or 2px */
        border: 2px solid brown;
    }

    /* Custom focus style for form elements */
    input:focus,
    select:focus,
    textarea:focus {
        outline: none;
        /* Add any additional styling you want for the focus state */
    }

    .img-container {
        background-image: url("{% static 'holiday.png' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    
</style>

<section id="Content-Section">
    <div class="grid grid-cols-2 mt-6 mx-36 rounded-lg border-2 border-black bg-white">
        <div class="col-span-1 border-r-2 border-black container img-container"></div>
        <div class="col-span-1 m-6">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="text-lg">
                    <label for="id_location">LOCATION:</label>
                    <div class="form-box">
                        {{ QueryForm.location }}
                    </div>
                </div>
                <div class="text-lg">
                    <label for="id_criteria">ACTIVITIES:</label>
                    <div class="form-box">
                        {{ QueryForm.criteria }}
                    </div>
                </div>
                <div class="text-lg">
                    <label for="id_duration">DURATION (DAYS):</label>
                    <div class="form-box">
                        {{ QueryForm.duration }}
                    </div>
                </div>
                <div class="text-lg">
                    <label for="id_budget">BUDGET (SGD):</label>
                    <div class="form-box">
                        {{ QueryForm.budget }}
                    </div>
                </div>
                <div class="text-center mt-3 button">
                    <input class="underline" type="submit" value="Plan Now">
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
